/* generic */
body{
  font-family: "Roboto";
}
.header-category {
  @apply relative z-50 py-[30px] cursor-pointer;
}
.header-category-name {
  @apply text-color-1 font-medium;
}
.header-sub-category {
  @apply absolute  top-[80px] bg-gray-50 text-gray-700 rounded hidden transition-all duration-300;
}
.header-sub-category-parent {
  @apply w-full px-[20px];
}
.header-sub-category-parent ul li {
  @apply py-[10px] cursor-pointer;
}

/* auth */
.login{
    @apply px-4 py-[4px] bg-color-3 text-color-1 rounded hover:bg-color-1 hover:text-color-3 transition-all duration-300
}
.reg{
    @apply px-4 py-[4px] bg-color-1 text-color-3 rounded hover:bg-color-3 hover:text-color-1 transition-all duration-300
}
.specefication ul{
  list-style-type: disc!important;
  list-style-position: inside!important;
  margin-left: 10px;
}
.colored-toast{
  background-color: '#113946';
  color:'#EAD7BB';
}