@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.input{
  @apply w-full h-[35px] px-[20px] py-[20px] rounded-[5px] outline-none border mt-4
}
.button{
  @apply px-6 py-2 text-white bg-orange-700 rounded-[5px]
}
.open-cart{
  @apply block
}
.slick-dots li{
  width: 40px!important;
  height: 40px!important;
  bottom: -20px!important;
}
.slick-dots li.slick-active button:before {
  color: rgb(255, 148, 26)!important;
}